


*{
    box-sizing: border-box!important;
    margin: 0!important;
    padding: 0!important;
}


#aleert{
    bottom: 200px;
    left: 50%;
    transform: translate(-50% , -50%);
}


img{
    object-fit: cover;
}

.cursor{
    cursor: pointer;
}